
h1,h2,h3,h4,h5,p,span,div,main,nav {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-align: left;
}

h1,h2,h3,h4 {
    color: #092854;
}

h3 {
    margin-left: 10px;
    margin-top: 10px;
    width 90%;
}
h4 {
    margin-left: 15px;
}

body {
    padding: 0;
    margin: 0;
    background-color: #e8e8e8;
}

main {
    width: 75vw;
    margin-left: 12.5vw;
    background-color: #d2d2d2;
    padding: 10px;
    padding-top: 3vw;
}

header {
    margin: 0;
    width: 100%;
    padding: 10px;
    background-color: #092854;
    position: fixed;
    display: block;
    height: auto;
    overflow: auto;
    
}

article {
    display: flex;
    
    
}
nav {
    text-align: center;
    background-color: #092854;
    
}

h1 {
    padding-left: 10px;
    padding-top: 15px;
    font-size: 40px;
}
h2{
    padding-left: 10px;
    padding-top: 20px;
}



#nav_menu {
    width: 100%;
    float: left;
}

#logo {
    width:10vw;
}


#menu {
    text-align: center;
    
}
.menu,.menu_break {
    float: center;
    text-align: center;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    
}

.menu_text {
    font-size: 30px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    
}

.menu:hover {
    color: #89ade0;
}

.articleSubheading {
    margin-bottom: 15px;
    margin-top:25px;
}
.subArticle {
    display: flex;
    align-content: 
}

.articleImg {
    width: inherit;
}
#logo {
    width: 100%;
}
.articleLeft {
    float: left;
    width: 400px;
    margin-left: 30px;
    display: block;
}
.articleRight {
    float: left;
    width:65%;
    margin-left: 15px;
    display: block;
}
.headerText {
    margin-top: 95px;
}
#article1 {
    margin-top: 10px;
}
#music{
    margin-left: 445px;
    margin-top: -100px;
}
audio {
    margin-top: 20px;
    
}

